* {margin: 0; padding: 0;}

body
{
	background-color: #019247;
	font-family: 'Tahoma', sans-serif;
}

button
{
	width: 33px;
	height: 33px;
	border: 0 none;
	background: url(buttons.png) no-repeat;
}

button.red {background-position: 0 100%;}
button.green {background-position: 0 0;}

table
{
	border: 2px solid #000;
	border-radius: 17px;
	margin: 20px auto;
}

td
{
	height: 40px;
	border: 1px solid #000;
	padding: 5px;
}

thead td
{
	background-color: #f8c816;
	font-weight: bold;
	font-size: 22px;
}

td:nth-of-type(1), tbody td:nth-of-type(5) {text-align: right;}
td:nth-child(2), td:nth-child(4), thead td:nth-of-type(5) {text-align: center;}
td:nth-child(6) {width: 100px;}

tbody select
{
	width: 40px;
	height: 30px;
	border: 1px solid #bebebe;
	padding-left: 3px;
}

tbody td.red select {background-color: #dddcdc; color: #ff0000;}
tbody td.green select {background-color: #fff; color: #007b3f;}

tbody tr:nth-child(odd) td {background-color: #fff;}
tbody tr:nth-child(even) td {background-color: #c7c7c7;}

tbody span.brasil {background: url(brasil-flag.png) no-repeat;}
tbody span.mexico {background: url(mexico-flag.png) no-repeat;}
tbody span.spain {background: url(spain-flag.png) no-repeat;}
tbody span.netherlands {background: url(netherlands-flag.png) no-repeat;}
tbody span.italy {background: url(italy-flag.png) no-repeat;}
tbody span.england {background: url(england-flag.png) no-repeat;}
tbody span.argentina {background: url(argentina-flag.png) no-repeat;}
tbody span.bah {background: url(bah-flag.png) no-repeat;}
tbody span.germany {background: url(germany-flag.png) no-repeat;}
tbody span.portugal {background: url(portugal-flag.png) no-repeat;}
tbody span.home {padding-right: 30px; background-position: 100% 3px;}
tbody span.away {padding-left: 30px; background-position: 0 3px;}

thead td.first {border-top-left-radius: 15px;}
thead td.last {border-top-right-radius: 15px;}
tbody td.first {border-bottom-left-radius: 15px;}
tbody td.last {border-bottom-right-radius: 15px;}