table {
	background-color: #234465;
	width: 100%;
}
table, tr, th {
	text-align: left;
}
table, tr, td {
	text-align: right;
}
ul{
	list-style-type: none;
	margin: 	0px;
	padding: 0;
	text-align: right;
}
li{
	display: inline-block;
	text-align: right;	
}
button.top{
	margin-left: 150px;
}
.button {
	font: bold 15px Arial;
	text-decoration: none;
	background-color: #234465;
	color: #FFFFFF;
	padding: 20px 6px 2px 36px;
}
.top {
	font: bold 15px Arial;
	text-decoration: none;
	background-color: #234465;
	color: #FFFFFF;
	padding: 20px 60px 2px 36px;
}
table, tr, th, a, img{
	padding: 5px 0px;
}
button[type="submit"].searchButton {
	float: right;
	width: 32px;
	height: 30px;
	vertical-align: top;
	background: transparent;
	border: 0;
	border-left: 1px solid #d5d5d5;
	border-collapse: collapse;
	margin: 0;
	background-image: url(magn-glass-icon17.png);
	background-position: 5px;
	background-repeat: no-repeat;
}
button {
	outline: none;
	margin: 5px 0 0 0;
}
input[type="text"].searchInput {
	float: left;
	border: 0 none;
	vertical-align: top;
	height: 132px;
	width: 220px;
	margin: 0;
	background: none repeat scroll 0 0 transparent;
	font-size: 1.4rem;
	display: inline-block;
	height: 44px;
	margin-top: -8px;
}
form {
	-ms-border-radius: 15px;
	border-radius: 10px;
	height: 32px;
	width: 260px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 5px;
	border-collapse: collapse;
	padding: 0;
	border: 1px solid #d5d5d5;
	background-color: #fff;
	margin: -30px auto 0 auto;
	margin-right: 80px;
}
